chardet==5.2.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
dask==2024.10.0
dask-expr==1.1.16
et_xmlfile==2.0.0
fsspec==2024.10.0
locket==1.0.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
partd==1.4.2
pyarrow==18.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
six==1.16.0
toolz==1.0.0
tzdata==2024.2
XlsxWriter==3.2.0
